@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  // padding: 0px 20px;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

$themeColor: #fff;

%h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #2c2c2c;
  letter-spacing: 2.5px;
  line-height: 20px;
}
%p {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #333 !important;
  font-family: "Poppins", sans-serif !important;
}

%btn {
  border-radius: 4px;
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px 0px;

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
    text-transform: uppercase;
    &::after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover span {
    padding-right: 25px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
  &:hover,
  &:focus {
    color: #fff;
    background: black;
  }
}
%animation {
  animation: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes myAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

header {
  .sticky-top {
    position: sticky;
    top: 0;

    .nav-link {
      color: #333 !important;
      margin-left: 10px;
    }
    .active {
      background-color: seagreen;
      border-radius: 15px;
      color: #fff !important;
    }
  }
}

.card-section {
  .btn {
    margin-bottom: 10px;
  }

  .card-img,
  .card-img-top {
    height: 175px;
    object-fit: cover;
    object-position: center;
  }
}

.box {
  position: relative;
  overflow: hidden;
  .offer {
    position: absolute;
    width: 400px;
    height: 400px;
    top: -200px;
    right: -200px;
    color: #ffffff;
    background: #b02a37;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 50%;
    padding-bottom: 100px;
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.9s linear;
    h2 {
      max-width: 200px;
      padding-left: 50px;
    }
  }
  &:hover .offer {
    transform: translateX(-40px);
    opacity: 1 !important;
  }
  img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    transform: scale(1);
    animation-name: zoom;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  h3 {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    transition: all 0.7s linear;
    text-align: center;
    opacity: 0;
  }
  &:hover h3 {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  a {
    position: absolute;
    width: 135px;
    height: 50px;
    align-items: center;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    transition: all 0.5s linear;
    opacity: 0;
  }
  &:hover a {
    bottom: 30%;
    transform: translate(-50%, 30%);
    opacity: 1;
  }
}

.status {
  margin: auto !important;
  display: block;
  width: 8em;
  height: 8em;
  border-radius: 100%;
  background-color: #2ed091;
  margin: 2px;
  border: 5px solid #2ed091;

  background-clip: content-box;
  padding: 5px;
}

.bb {
  .bubble {
    margin: auto;
    width: 120px;
    height: 80px;
    background: red;
    color: #fff;
    position: relative;
    border-radius: 0px;
    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0px;
      border-top: 40px solid transparent;
      border-right: 25px solid red;
      border-bottom: 40px solid transparent;
    }
    h3 {
      text-align: center;
    }
  }
}

.myGallery {
  width: 100%;
  justify-content: center;
  div {
    margin: 5px;
    img {
      height: 300px;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
    }
  }
}

.portfolio {
  ul {
    @extend %flex;
  }
  .row {
    div {
      position: relative;
      margin: auto;
      padding: 5px;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border: 4px solid rgb(129, 127, 127);
        border-radius: 10px;
      }

      .zoom {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        font-size: 40px;
        opacity: 0;
      }
    }

    div:hover .zoom {
      opacity: 1;
    }
  }
}

// parallax
.parallax-window {
  min-height: 600px;
  background: transparent;
  .container {
    height: 500px;
    @extend %flex;
    h1 {
      display: block;
      color: #fff;
      background: transparent;
    }
  }
}

/****floating navbar for mobile device***/
.mobile-nav {
  .menu {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: #333;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0px 3px 8px #333;
    cursor: pointer;
    &__line {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 4px;
      background-color: #fff;
      border-radius: 13px;
      transition-duration: 0.4s;
      &:nth-child(1) {
        top: 14px;
      }
      &:nth-child(2) {
        top: 23px;
      }
      &:nth-child(3) {
        bottom: 14px;
      }
    }
    // hamburger menu transformation
    &.active {
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }
    &.active .menu__line:nth-child(1) {
      transform: translate(-12px, 9px) rotate(-45deg);
    }
    &.active .menu__line:nth-child(2) {
      transition-duration: 0s;
      opacity: 0;
    }
    &.active .menu__line:nth-child(3) {
      transform: translate(-12px, -9px) rotate(45deg);
    }
  }

  .nav {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 10;
    transition-duration: 0.4s;
    &.open {
      background-color: rgba(0, 0, 0, 0.9);
      width: 320px;
      height: 480px;
      position: absolute;
      right: 0px;
      bottom: 0px;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__list {
      display: none;
      &.show {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      width: 100%;
      opacity: 0;
      animation-name: fadein;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.5s;
      }
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
    &__link {
      font-size: 24px;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: #fff;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
  }
}
